/**
 * 全局样式
 */
@import "./index.less";

body {
  background-color: #f5f7f9;
}

.nav_bar {
  background-color: #3296fa;

  .van-nav-bar__title {
    color: #fff;
  }

  .van-icon {
    color: #fff;
  }
}